.parent-div{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top:30px;
}
.cart-container{
    border-right: 2px gray;
  
}
.body-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}